@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.done{
    display: none;
}
.finish{
    text-decoration: line-through;
    color: grey;
}
.container{
    max-width: 30%;
    min-height: auto;
    margin: 1rem auto;
    .instruction{
        p{
            color: #222222;
            font-size: 1rem;
            font-weight: normal;
            margin-bottom: 1rem;
            & span{
                color: #28dc28;
            }
        }
    }
    .heading{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #5656ff;
        padding: 0.5rem;
        h1, #insert{
            color: #ffebcd;
            &:hover{
                color: #33dd2d;
            }
        }
    }
    #todoInput{
        max-width: 100%;
        min-height: auto;
        background-color: #5656ff;
        padding-bottom: 0.2rem;
        #mytodo, #btnTodo{
            padding: 0.5rem;
            font-size: 1.2rem;
            border: none;
            border-radius: 0.5rem;
        }
        input[type="text"]{
            width: 85%;
            background-color: whitesmoke;
            &:hover, :focus{
                border: none;
                border-radius: 0.5rem;
            }
        }
        button{
            width: 14%;
            background-color: whitesmoke;
            &:hover{
                background-color: #33dd2d;
                color: whitesmoke;
                border: none;
                border-radius: 0.5rem;
            }
        }
    }
    #todos{
        background-color: whitesmoke;
        color: black;
        p{
            width: 100%;
            height: 2.5rem;
            line-height: 1.5rem;
            font-size: 1.2rem;
            font-weight: normal;
            padding-left: 1rem;
            &:nth-child(2n){
                background-color: #e4e4e4
            }
        }
    }
}

// making responsive
@media (max-width: 1200px){
    .container{
        #todoInput{
            input[type="text"]{
                width: 84.5%;
            }
        }
    }
}
@media (max-width: 1024px){
    .container{
        max-width: 40%;
    }
}
@media (max-width: 768px){
    .container{
        max-width: 50%;
    }
}
@media (max-width: 600px){
    .container{
        max-width: 70%;
    }
}
@media (max-width: 480px){
    .container{
        max-width: 80%;
        #todoInput{
            #btnTodo{
                font-size: 1rem;
            }
        }
    }
}
@media (max-width: 320px){
    .container{
        max-width: 95%;
        #todoInput{
            #btnTodo{
                font-size: 1rem;
            }
        }
    }
}
@media (min-width: 600px) and (max-width: 767px) and (orientation: landscape){
    .container{
        max-width: 75%;
    }
}